.button {
  all: unset;
  padding: 1rem 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  text-transform: uppercase;
  cursor: pointer;
  font-size: clamp(16px, 2rem, 25px);
}

.paginationButton {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background-color: var(--foreground);
  border-radius: 4px;
  color: var(--background);
  width: clamp(32px, 1.5rem, 64px);
  height: clamp(32px, 1.5rem, 64px);
  cursor: pointer;
}

.exerciseButton {
  all: unset;
  position: relative;
  margin: 0 0.25rem;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

.exerciseButton > p::first-letter {
  text-transform: capitalize;
}

.exerciseButtonAtcive {
  color: green;
}

.paginationButton:disabled {
  background-color: grey;
  cursor: auto;
}

.paginationActive {
  background: var(--pagination-active_color);
}

.primary {
  background-color: var(--secondary-text_color);
}

.secondary {
  border: 1px solid var(--secondary-text_color);
  background-color: transparent;
  color: var(--secondary-text_color);
}
