.navLink {
  display: flex;
  align-items: center;
}

.icon {
  width: 28px;
  height: 28px;
  fill: currentColor;
  transition: transform 0.2s ease;
  color: #666;
}

.Mui-selected .icon svg {
  color: var(--blue);
}

.icon:hover {
  transform: scale(1.1);
}
