.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  max-width: 1080px;
  max-height: 650px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.container button {
  margin: 1rem 0;
  width: 80%;
}

.container label {
  margin-top: 0.5rem;
  display: block;
  text-align: start;
}

.container input {
  margin-top: 0.5rem;
}

.formContainer {
  flex-grow: 1;
}

.form {
  /* width: 80%; */
  margin: auto;
}

.imageBox {
  flex-grow: 0.5;
}

.formImage {
  object-fit: fill;
  width: -webkit-fill-available;
  width: 100%;
  height: 100%;
}

.googleIcon {
  margin-right: 1rem;
  object-fit: contain;
  width: 25px;
  min-width: 16px;
  height: 25px;
  min-height: 16px;
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .container {
    position: static;
    transform: translate(0, 0);
    flex-direction: column;
    min-height: 100vh;
  }

  .container button {
    margin: 0;
    width: auto;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    flex-grow: 2.5;
  }

  .form {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 0.4;
  }

  .imageBox {
    display: flex;
  }

  .formImage {
    align-self: flex-end;
  }

  .googleIcon {
    width: 16px;
    height: 16px;
  }
}
