.mainBanner {
  position: relative;
  display: flex;
  background-color: #fc6212;
  border-radius: 12px;
  overflow: hidden;
}

.mainBanner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #fc6212 0%,
    #fc6212 50%,
    #fc6212 80%,
    #ffffff 100%
  );
  opacity: 0.3;
  border-radius: 12px;
}

.content {
  flex-basis: 25rem;
  opacity: 1;
  position: relative;
  z-index: 1;
  padding: 1rem;
}

.imgContainer {
  flex-grow: 1;
}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.subBanner {
  flex-grow: 1;
  padding: 1rem;
  border-radius: 12px;
  position: relative;
}

.subBunnerOrange {
  background-color: #f97316;
}

.subBunnerPurple {
  background-color: #8b5cf6;
}

.subBunnerBlue {
  background-color: #06b6d4;
}

.subBanner:first-child {
  margin-right: 1rem;
}

.subBanner:last-child {
  margin-left: 1rem;
}

.subContent {
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.subContent p:first-child {
  font-size: 18px;
}

.subContent p:last-child {
  font-size: 16px;
}

.subImgContainer {
  flex-grow: 0;
  border-radius: 12px;
  padding: 0.1rem;
  margin: 0 1rem 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.subImg {
  vertical-align: middle;
  width: clamp(20px, 2rem, 70px);
  height: clamp(20px, 2rem, 70px);
}

.subWaveContainer {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 40%;
  left: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.subWave {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
