.card {
  width: clamp(6rem, 300px, 12rem);
  height: clamp(12rem, 500px, 20rem);
  border: 1px solid red;
  margin: 0.5rem;
}

.card > p {
  padding: 0.5rem;
}

.imgContainer {
}

.titleImg {
  object-fit: contain;
  width: 100%;
  height: 100%;
  filter: invert();
}
