.exerciseImg {
  height: clamp(2rem, 200px, 4rem);
  width: clamp(2rem, 200px, 4rem);
  object-fit: cover;
  /* mix-blend-mode: multiply; */
  background-color: aqua;
  filter: invert(100%);
}

.cardsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
