.container {
  padding: 0rem 1rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "mainBanner"
    "foodTable";
  row-gap: 1rem;
}

.mainBanner {
  grid-area: mainBanner;
}

.componentSwitcher {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.componentSwitcher button {
  flex-grow: 1;
  border: none;
  color: var(--foreground);
}

.active {
  color: var(--banner-hover_color) !important;
}

.foodTable {
  grid-area: foodTable;
}
